
/* inizio Query smartphone */
@media screen and (max-width: 419px) {

  /* .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .central {
    width: 100%;
  } */

  #lezioni .row > .left, #lezioni .row > .right{
    width: 100%;
    float: left;
    font-size: xx-large;
  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: left;
    width: 100%;
    font-size: xx-large;
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 80px;
    font-size: xx-large;
  }



}
